# Archivos de compilación
bin/
obj/

# Archivos de usuario
*.user
*.suo

# Visual Studio
.vs/

# VS Code
.vscode/

# JetBrains Rider
.idea/

# Logs
*.log

# NuGet
*.nupkg
packages/

# Archivos del sistema
.DS_Store
Thumbs.db

# Resultados de pruebas
TestResults/

# Cobertura
coverage/

# Publicaciones
publish/

# Archivos temporales
*.tmp
*.temp

# Secretos (importante no subirlos)
appsettings.Development.json
secrets.json
